html {
  height: 100%;
}

body {
  min-height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  font-family: "Courier New", Courier, monospace;
  color: #ddd;
  font-size: 200%;
  letter-spacing: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

@media (orientation: portrait) {
  #canvas {
    font-size: 400%;
    flex-direction: column;
  }
}

@media (orientation: landscape) {
  #canvas {
    flex-direction: row;
  }
}

#control-panel {
  text-align: center;
  font-size: 150%;
}

#up,
#down,
#left,
#right {
  cursor: pointer;
}

.text-50 {
  color: #666;
}

.text-100 {
  color: #ddd;
}

.text-player {
  color: red;
}
